@{
    ViewData["Title"] = "Home Page";
}
@using WebApp.Utils;
@model WebApp.Utils.DataParser;
@using WebApp.Enums;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="~/css/site.css?v=@DateTime.Now.Millisecond" rel="stylesheet" />
    <script src="~/js/site.js"></script>
</head>

<body>
    <header class="header">
        Бронирование переговорных
    </header>
    <main class="content">
        <br />
        <select>
            <option id="all">Выберите переговорную</option>
            <option id="room1">Переговорная №1</option>
            <option id="room2">Переговорная №2</option>
        </select>

        <p>Чтобы забронировать переговорную, выберите дату.</p>
        @*<button id="top" onclick='TopButton("@Url.Action("","")", "@DataChange.DecWeeks")'> <p class="top-img"><img src="~/images/top.png"></p></button>*@
        <p class="top-img"><img src="~/images/top.png"></p>
        <p class="left-img"><img src="~/images/left.png"></p>
        <p class="right-img"><img src="~/images/right.png"></p>

        <div id="openModal" class="modalDialog modal-lg">
            <div style="margin-top:0%">
                <a href="#close" title="Закрыть" class="close">X</a>
                <h2 text-align="center">Выберите переговорную и незанятое время.</h2>
                <div class="modal-body">
                    <table style="text-align: center" align="center">
                        <thead>
                            <tr>
                                <td id="td1" style="padding-top:0.5%; padding-bottom:0.5%">Время</td>
                                <td style="padding-top:0.5%; padding-bottom:0.5%"> П №1 </td>
                                <td style="padding-top:0.5%; padding-bottom:0.5%"> П №2 </td>
                            </tr>
                            @for (int i = 0; i < 24; i++)
                            {
                                <tr>
                                    @for (int j = 0; j < 3; j++)
                                    {
                                        if (j == 0)
                                        {
                                            <td style="padding-top:0.5%; padding-bottom:0.5%"><time>8:30</time>-<time>9:00</time></td>
                                        }
                                        else
                                        {
                                            <td id="td2" title="есть ли свободные переговорные"> @j </td>
                                        }
                                    }

                                </tr>
                            }
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <h2></h2>
        <table style="text-align: center; width: 90%; height: 90%" cellpadding="2" cellspacing="2" align="center">
            <thead>
                <tr>
                    <td id="td1" style="padding-top:0.5%; padding-bottom:0.5%">Пн</td>
                    <td style="padding-top:0.5%; padding-bottom:0.5%">Вт</td>
                    <td style="padding-top:0.5%; padding-bottom:0.5%">Ср</td>
                    <td style="padding-top:0.5%; padding-bottom:0.5%">Чт</td>
                    <td style="padding-top:0.5%; padding-bottom:0.5%">Пт</td>
                    <td style="padding-top:0.5%; padding-bottom:0.5%; border-color: #fa9e9e">Сб</td>
                    <td style="padding-top:0.5%; padding-bottom:0.5%; border-color: #fa9e9e">Вс</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var v in Model.List)
                {

                    @if (v.Date.DayOfWeek == DayOfWeek.Saturday || v.Date.DayOfWeek == DayOfWeek.Sunday)
                    {
                        @if (v.CurrentWeek == true)
                        {
                            @if (v.CurrentDay == true)
                            {
                            <td id="td2" style="background: linear-gradient(#fa9e9e, #ffffff); border-color: #000000" title="  "><a href="#openModal">@v.Date.Day @v.Month</a></td>
                        }
                        else
                        {
                            <td id="td2" style="background: linear-gradient(#FFE4E1, #ffffff); border-color: #687df8" title="  "><a href="#openModal">@v.Date.Day @v.Month</a></td>
                        }
                        }
                        else
                        {
                            <td id="td2" style="background: linear-gradient(#FFE4E1, #ffffff); border-color: #fa9e9e" title="  "><a href="#openModal">@v.Date.Day @v.Month</a></td>
                        }
                    }
                    else
                    {
                        @if (v.CurrentWeek == true)
                        {
                            @if (v.CurrentDay == true)
                            {
                                <td id="td2" style="background: linear-gradient(#95d390, #ffffff); border-color: #000000" title="  "><a href="#openModal">@v.Date.Day @v.Month</a></td>
                            }
                            else
                            {
                                <td id="td2" style="background: linear-gradient(#F0FFF0, #ffffff); border-color: #687df8" title="  "><a href="#openModal">@v.Date.Day @v.Month</a></td>
                            }
                        }
                        else
                        {
                            <td id="td2" style="background: linear-gradient(#F0FFF0, #ffffff); border-color: #43a938" title="  "><a href="#openModal">@v.Date.Day @v.Month</a></td>
                        }
                    }
                    @if (v.Date.DayOfWeek == DayOfWeek.Sunday)
                    {
                        <tr></tr>
                    }

                }




                @*@for (int i = 0; i < 5; i++)
                    {
                    <tr>
                        @for (int j = 1; j < 8; j++)
                        {
                            @if (j < 6)
                            {
                                <td id="td2" style="background: linear-gradient(#F0FFF0, #ffffff)" title="  "> <a href="#openModal">@j</a> </td>
                            }
                            else
                            {
                                <td id="td2" style="background: linear-gradient(#FFE4E1, #ffffff); border-color: #fa9e9e" title="  "><a href="#openModal">@j</a></td>
                            }
                        }
                    </tr>
                }*@

                </tbody>
            </table>

            <p class="bottom-img"><img src="~/images/bottom.png"></p>

        </main>

        <footer class="footer">
            2018 - Практика в ММТР
        </footer>

       
    </body>
</html>

